<StackLayout class="h-align-center">
  <GridLayout rows="auto,auto,auto,auto" columns="auto,auto,auto">
    <StackLayout row="0" col="0">
      <app-keypad-button [btnId]="'btnOne'" [btnValue]="1" (btnPress)="btnPressed($event)"></app-keypad-button>
    </StackLayout>
    <StackLayout row="0" col="1">
      <app-keypad-button [btnId]="'btnTwo'" [btnValue]="2" (btnPress)="btnPressed($event)"></app-keypad-button>
    </StackLayout>
    <StackLayout row="0" col="2">
      <app-keypad-button [btnId]="'btnThree'" [btnValue]="3" (btnPress)="btnPressed($event)"></app-keypad-button>
    </StackLayout>
    <StackLayout row="1" col="0">
      <app-keypad-button [btnId]="'btnFour'" [btnValue]="4" (btnPress)="btnPressed($event)"></app-keypad-button>
    </StackLayout>
    <StackLayout row="1" col="1">
      <app-keypad-button [btnId]="'btnFive'" [btnValue]="5" (btnPress)="btnPressed($event)"></app-keypad-button>
    </StackLayout>
    <StackLayout row="1" col="2">
      <app-keypad-button [btnId]="'btnSix'" [btnValue]="6" (btnPress)="btnPressed($event)"></app-keypad-button>
    </StackLayout>
    <StackLayout row="2" col="0">
      <app-keypad-button [btnId]="'btnSeven'" [btnValue]="7" (btnPress)="btnPressed($event)"></app-keypad-button>
    </StackLayout>
    <StackLayout row="2" col="1">
      <app-keypad-button [btnId]="'btnEight'" [btnValue]="8" (btnPress)="btnPressed($event)"></app-keypad-button>
    </StackLayout>
    <StackLayout row="2" col="2">
      <app-keypad-button [btnId]="'btnNine'" [btnValue]="9" (btnPress)="btnPressed($event)"></app-keypad-button>
    </StackLayout>
    <StackLayout row="3" col="1">
      <app-keypad-button [btnId]="'btnZero'" [btnValue]="0" (btnPress)="btnPressed($event)"></app-keypad-button>
    </StackLayout>
  </GridLayout>
</StackLayout>