$white: #fff;

.test {
    color: $white;
}

.icon-margin {
    margin: 10;
}

// This is used to define the width of the area-chart.
.chart-width {
    margin-left: -37;
    margin-right: -37;
}

.bold-weight {
    font-weight: bold;
}