<StackLayout color="white">
    <StackLayout ios:height="60" android:height="70">
        <app-marketcap-header [globalMarketData]="globalMarketData"></app-marketcap-header>
    </StackLayout>
    <StackLayout marginLeft="14" marginRight="14" [visibility]="!isMarketCapLoading ? 'visible' : 'collapsed'">
        <GridLayout>
            <RadListView
                    [items]="cryptoList | async" 
                    pullToRefresh="true" 
                    (pullToRefreshInitiated)="refreshList($event)"
                    selectionBehavior="None" 
                    (loaded)="onLoaded($event)">
                <ng-template tkListItemTemplate let-item="item">
                    <StackLayout (tap)=loadCoinDetailsPage(item)>
                        <app-marketcap-list-item [listItem]="item"></app-marketcap-list-item>
                    </StackLayout>
                </ng-template>
            </RadListView>
        </GridLayout>
    </StackLayout>
    <StackLayout [visibility]="isMarketCapLoading ? 'visible' : 'collapsed'">
        <ActivityIndicator margin="10" rowSpan="3" color="#ffffff" busy="true"></ActivityIndicator>
    </StackLayout>
</StackLayout>